@font-face {
    font-family: robo;
    src: url(font/Roboto-Regular.woff);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: robo;
}

body{
    background-color: rgb(1, 17, 37);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

h1{
    font-size: 3rem;
}

.addButton{
    align-self: flex-end;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top:0.4rem ;
    padding-bottom:0.4rem ;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 8px;
    border-style: none;
    border-radius: 2rem;
}

.addButton:hover{
    cursor: pointer;
    background-color: rgb(192, 192, 185);
}

svg{
    width: 1.5rem;
}

dialog{
    width: 40vw;
    height: 60vh;
    align-self: center;
    justify-self: center;
    font-size: 1.5vw;
    padding: 2rem;
    font-weight: bold;
    border-radius: 25px;
}

.input{
    width: 100%;
    height: 4vh;
    font-size: 3vh;
    padding: 6px;
    margin-bottom: 4vh;
    margin-top: 0.5rem;
}

#cancel, #confirm, .delete{
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top:0.4rem ;
    padding-bottom:0.4rem ;
    font-size: 1.2vw;
    border-style: none;
    border-radius: 2rem;
    background-color: cornsilk;
}

#cancel:hover, #confirm:hover, .box:hover, .delete:hover{
    cursor: pointer;
    background-color: rgb(192, 192, 185);
}

.box{
    margin-bottom: 8px;
    width: 20%;
}

.readDiv{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 5vh;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}

.section{
    display: grid;
    width: 100%;
    grid-template-rows: repeat(autofill, minmax(150px,1fr));
    grid-template-columns: repeat(3,1fr);
    gap: 3vw;
}

.card{
    border: 3px solid white;
    font-size: 3vh;
    padding: 2.5vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

h3{
    font-size: 4vh;
}

.delete{
    width: 8vw;
}

.cardCheckbox{
    width: 1.6vw;
    height: 1.6vw;
    margin-left: 1vw;
}

.cardCheckbox:hover{
    cursor: pointer;
}
